<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Order</title>
</head>
<body>
<a href="{% url 'dashboard' %}">Back to Dashboard</a>
    <h2>Add Order</h2>
    <form method="post">
        {% csrf_token %}
        <h3>Ordered Items</h3>
        {% for field in items_form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}<br>
                {% if field.errors %}
                    <span style="color:red;">{{ field.errors }}</span>
                {% endif %}
            </p>
        {% endfor %}

        {% for field in order_form %}
            <p>
                {{ field.label_tag }}<br>
                {{ field }}<br>
                {% if field.errors %}
                    <span style="color:red;">{{ field.errors }}</span>
                {% endif %}
            </p>
        {% endfor %}

        

        <button type="submit">Add Order</button>
    </form>
</body>
</html>