{% load rest_framework %}
<!DOCTYPE html>

<html lang="en"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Stock</title>
</head>
<body>
    <a href="{% url 'dashboard' %}">Back to Dashboard</a>
    <h1>Update Stock</h1>
        <h2>Medicine name: {{ stock.medicine.medicine_name }}</h2>
        <label for="quantity">New Quantity:</label>
        <input type="number" id="quantity" name="quantity" required>
        <button type="submit">Update Stock</button>
</body>
</html>